## imports
import(doMC)

## exports
# standard functions
export(set.options)
export(build.network)
export(bootstrap.build)

# internet3DOptions S3 functions
S3method(print,internet3DOptions)

# internet3D S3 functions
S3method(print,internet3D)
S3method(summary,internet3D)
